h1 {
    color: #fa6400;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    flex-direction: column;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    margin-right: 1rem;
    width: 50vh;
    height: 1.65rem
  }

  .search-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-output {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vh;
  }

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.project-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 50vh;
}

.ol-custom {
    list-style-type: none;
    padding-left: 0;
}

.li-custom-q {
    content: "Q: ";
}

.li-custom-a {
    content: "A: ";
}



/* <!-- HTML !-->
<button class="button-5" role="button">Button 5</button> */

/* CSS */
.button {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button:hover,
.button:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
    transform: translateY(-1px);
}

.button:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}
